<div class="col-xs-4">
  <div class="sweet-item">
    <% @sweets.each do |sweet| %>
      <div>
        <dl>
          <dt>
            <%= link_to sweet_path(sweet) do %>
              <%= image_tag sweet.get_image, class: "sweet-img" %>
            <% end %>
          </dt>
          <br>
          <dd>
            <%= link_to sweet.name, sweet_path(sweet) %>
          </dd>
        </dl>
      </div>
    <% end %>
  </div>
</div>

<!-- monthをmigrateに追加して、同じ内容を繰り返さないように、seeds.rbを編集する。-->