*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  overflow: scroll;
  padding-bottom: 200px;
}

div{
  text-align: center;
}

.sweet-index{
  background-color: #ffffff;
  padding-top: 45px;
  padding-bottom: 80px;
}

.sweet-index h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0054a7;
  overflow: scroll;
}

.sweet-index h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #f7bba2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sweet-item{
  padding-top: 40px;
  padding-bottom: 10px;
  padding-right: 80px;
  text-align: center;
}

.sweet-item div{
  width: 260px;
  margin-left: 75px;
  padding-bottom: 80px;
}

/*.sweet-item div:first-child{
  margin-left: 0;
}

.sweet-item dl{
  margin-top: 20px;
}

.sweet-item dt{
  font-weight: bold;
}

.sweet-item dd{
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
}
*/
/*　和菓子画像　*/
.sweet-img{
  width: 260px;
  height: 260px;
  border-radius:40%;
  margin: 0 auto;
  border:1px solid #0054a7;
}

