<div class="container my-5">
    <div class="user-title">
        <h2>マイページ</h2>
        <div class="user-item">
            <div>
                <dl>
                    <dt>
                        <%= @user.name %>
                        <%= image_tag @user.get_profile_image %>
                    </dt>
                    <dd>
                        
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>