<div class="container my-5">
  <% @sweets.group_by(&:month).each do |month, sweets| %>
      <div class="row justify-content-center">
        <div class="sweet-index">
          <h2><%= month %>月</h2>
        </div>
      </div>
        <br><br>
    <div class="row justify-content-center">
      <% sweets.each do |sweet| %>
      <div class="col-md-4">
          <div>
            <dl>
                <dt>
                  <%= link_to sweet_path(sweet) do %>
                  <%= image_tag sweet.get_image, class: "sweet-img" %>
                  <% end %>
                </dt>
                <br><br>
              <dd><%= sweet.name %></dd>
            </dl>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
