<div class="container my-5">
    <div class="sweet-index">
                <% @sweet.each do |sweet| %>

                <h2><%= sweet.month %>月</h2>

        <%= render 'sweet', sweets: @sweets %>
            <% end %>

    </div>
</div>

