<div class="split">
    <div class="split-item split-left">
        <div class="split-left__inner">
            <div class="container">
                <div class=
            </div>
        </div><!--split-left__inner-->
    </div><!--split-item split-left-->
    <div class="split-item split-right">
        <div class="split-right__inner">
            right
        </div><!--split-right__inner-->
    </div><!--split-item split-right-->
</div><!--split-->