<!--div class="container my-5">
    <div class="post-title">
        <h2><span class="text-strong">ログイン選択画面</span></h2>
        <br><br>
        <div class="row">
            <div class="user">
            <#%= link_to 'ゲストログイン（閲覧用）', guest_login_path, method: :post %>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="user">
            <#%= link_to '管理者ログイン', admin_session_path, method: :get %>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="user">
            <#%= link_to 'ユーザー新規会員登録', new_user_registration_path %> <!-- , method: :getは、自動的につく-->
            <!--/div>
        </div>
        <br><br>
    </div>
</div>

