<div class="split">
    <div class="split-item split-left">
        <div class="split-left__inner">
            <div class="container">
                <div class="row 1">
                    <%= link_to sweets_path do %>
                    <button class="button-56" role="button">季節ごとに和菓子を見てみる</button>
                    <% end %>
                </div>
                <div class="row 2">
                    <div class="col-md-4">
                        <h2>新着投稿</h2>
                    </div>
                    <br>
                    <div class="col-md-4">
                        <i class="fa-regular fa-magnifying-glass-arrow-right"></i>
                    </div>
                    <div class="col-md-4">
                        <%= link_to new_post_path do %>
                        <button class="button-60" role="button">投稿する</button>
                        <% end %>
                    </div>
                </div>
                <div class="row 3">
                    <% posts.each do |post| %><!--　赤字になる -->
                    <div class="col-md-4">
                        <%= link_to post_path(post.id) do %><!--　赤字になる -->
                        <%= image_tag post.user.get_image(100,100), class: "card-img-top"; %><!-- サイズ指定 -->
                        <% end %>
                        <div class=""
                    </div> 
                </div>
            </div>
            <% posts.each do |post| %>
        </div><!--split-left__inner-->
    </div><!--split-item split-left-->
    <div class="split-item split-right">
        <div class="split-right__inner">
            right
        </div><!--split-right__inner-->
    </div><!--split-item split-right-->
</div><!--split-->

<!-- div class="card-list-container py-5">
<#% post_images.each do |post_image|%>
<div class="card w-50 mx-auto mt-4 shadow-lg">
  <#%= link_to post_image_path(post_image.id) do %>
   <#%= image_tag post_image.get_image, class: "card-img-top";%>
  <#% end %>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <#%= image_tag post_image.user.get_profile_image(100,100), class: "mt-3 rounded-circle";%>
      </div>
      <div class="col-10">
        <p class="card-title">
          <#%= link_to(post_image_path(post_image.id), class: "text-dark")do %>
          <strong><i class="far fa-flag"></i><span><#%= post_image.shop_name %></span></strong>
          <#% end %>
        </p>
        <p class="card-text">説明:<#%= post_image.caption %></p>
        <span><i class="fas fa-user"></i>By<#%= post_image.user.name %> ｜</span>
        <span><#%= link_to "#{post_image.post_comments.count}コメント", post_image_path(post_image.id), class: "text-dark" %></span>
      </div>
    </div>
  </div>
</div>
#% end %>
<#%= paginate post_images %>
</div>