<div class="container my-5">
    <div class="post-title">
        <h2>新規投稿フォーム</h2>
        <br><br>
        <div class="post-item">
            <div>
                <dl>
                   <%= form_with model: @post do |f| %>
                   <%= f.file_field :image, accept: "image/*" %>
                    <dt>
                        <%= f.text_field :title, class:"form-control", placeholder: "タイトル" %>
                    </dt>
                    <br>
                    <dd>
                        <%= f.text_area :content, class:"form-control", placeholder: "本文" %>
                    </dd>
                    <dd>
                                    <div class="section">
                <a href="/posts/new" class="btn_05"><span>投稿する</span></a>
            </div>
                    </dd>
                </dl>
            </div>
            <br><br>
            <% end %>
        </div>
    </div>
</div>