/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be icon after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 120px;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #FFFFFF;
}
body{
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 1;
}

img{
  max-width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

.header_logo{
  width: 170px;
}
div.icon{
    float:right;
    padding:10px;  
    display: block;
}
div.icon ul{
    margin:0;
    padding:0;
    font-size:14px;
    line-height:1.4;
    list-style:none;
    *zoom:1;
}
div.icon ul:after{
    content:"";
    display:block;
    clear:both;
}
div.icon li{
    float:left;
}
div.icon li a{
    display:block;
    padding:10px;
    color:#000;
    text-decoration:none;
}
div.icon li a span{
    display:inline-block;
    text-indent:-9999px;
}

div.icon li a i{
    font-size:40px;
}
.navbar ul{
  display: flex;
}

.navbar ul li{
  margin-left: 20px;
  margin-right: 20px;
}
.navbar ul li a{
  font-family: 'Noto Serif JP', serif;
  /*font-weight: bold;*/
}
.main {
  width: 840px; /* 横幅840px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

 .navbar-nav li {
 font-size: 15px;
 padding-top: 15px;
}

.collapse navbar-collapse ul{
  display: flex;
}

/* ここをcontainerだけにしてしまうと、全てに適用されてしまうため、
 container-menuにした。*/
.container-menu {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.recommendation-items {
  float: left;
  margin-right: 50px;
}

footer{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #24211b;
  bottom: 0; /*下に固定*/
  position: relative;/*←相対位置*/
  padding-bottom: 50px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含*/
}

.footer-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
}