/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 180px;
  padding: 30px 10px 0;
  position: absolute;
  background-color: #ffa3a3;
}

body{
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 1;
}

.img header_logo{
  width: 170px;
  display: block;
}

.main {
  width: 840px; /* 横幅840px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

 .navbar-nav li {
 font-size: 15px;
 padding-top: 15px;
}

#container{
	height: 450px;
	width: 550px;
	margin-top: 150px;
	margin-bottom: 150px;
}

#wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}


#content{
  padding-top: 30px;
  padding-bottom: 60px;
}



.recommendation-items {
  float: left;
  margin-right: 50px;
}

.submit{
    border: 1px solid #999;
    padding: 10px;
    background: #fff9cc;
    margin-top:10px;
}

footer{
 border-top: 1px solid #545b64;
 line-height: 14px;
 background-color: #ffa3a3;
}
