*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user{
  display:inline-block;
  background-color:#ffffff;
  padding:30px 75px;
  color:#f7bba2;
  border-radius:8px;
  border-bottom:7px solid #f7bba2;
  transition:.1s;
  cursor:pointer;
}
.user:hover{
  border-bottom-width:0;
  margin-top:3px;
}
