*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
      max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail{
    float: left;
    margin-left: 30px;
}
.detail span{
    font-size: 10px;
}
.item-box{
    float: left;
}
.item-image{
    float: left;
}
.amount-select-form{
    margin-right: 50px;
}
.item-price{
    margin-bottom: 50px;
}
img{
  max-width: 70%;
  text-align: center;
}
.row{
    margin: 20px;
}
.p{
    margin-bottom: 0;
}
.pagination {
  justify-content: center;
}