*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  overflow: scroll;
}

img{
  width: 100px;
  height: 100px;
}

/* 検索ボックス */
.search{
  width: 200px;
  height: 100px;
  justify-content: center;
  margin: 20px 0 20px 20px;
}
.search-box input{
  border:2px solid #0054a7;
  background-color: #f7bba2;
  width: 100px;
  height: 30px;
}
.search-box{
  text-align: center;
}
input#keyword{
  border:3px solid #0054a7;
  width: 300px;
  height: 50px;
}
/**/

/* 新規投稿 */
textarea{
  border:1px solid #0054a7;
  background-color: #ffffff;
  width:150%;
  height:130px;
}
 input#post_title.form-control{
  border:1px solid #0054a7;
  width: 200px;
  height: 30px;
}

input#file-upload-button{
  border:3px solid #0054a7;
  width: 300px;
  height: 50px;
}

input.btn.btn-primary{
  border:2px solid #0054a7;
  width: 100px;
  height: 30px;
  background-color: #f7bba2;
}

.post-title{
  text-align: right;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 80px;
}

.post-title h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0054a7;
  overflow: scroll;
}

.post-title h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #f7bba2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.post-item{
  display: flex;
  padding-bottom: 80px;
  overflow: scroll;
  text-align: center;
}

.post-item div{
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
  padding-bottom: 80px;
}

.post-item div:first-child{
  margin-left: 0;
}

.post-item dl{
  margin-top: 20px;
}

.post-item dt{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8a48b;
  display: flex;
}

.post-item dd{
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  padding-bottom: 30px;
}

/*　index.html.erbの新規登録ボタンのアイコン */ 
div.new-icon{
  padding-left: 780px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-right: 90px;
}

/*　投稿画像　*/
img.post-img{
  width: 260px;
  height: 225px;
  /*margin: auto;*/
  border:1px solid #0054a7;
}

/*　プロフィール画像　*/
img.post-profile-img{
  display: block;
  width: 50px;
  height: 50px;
  border-radius:40%;
  margin: 0 50px 0 0;
  border:1px solid #f7bba2;
}

/*　ページネーション　*/
div.pagination {
  padding-top: 20px;
  padding-bottom: 20px;
}

.favorite-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  .bi-heart {
    color: gray;
  }

  &.favorited .bi-heart-fill {
    color: red;
  }
}

