*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  overflow: scroll;
}

img{
  width: 100px;
  height: 100px;
}

.search{
  display: flex;
  width: 200px;
  height: 100px;
  justify-content: center;
}

.post-title{
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px;
}

.post-title h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0054a7;
}

.post-title h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #f7bba2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.post-item{
  display: flex;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: scroll;
  justify-content: center;
}

.post-item div{
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.post-item div:first-child{
  margin-left: 0;
}

.post-item dl{
  margin-top: 20px;
}

.post-item dt{
  font-weight: bold;
}

.post-item dd{
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

/*　index.html.erbの新規登録ボタンのアイコン */ 
.new-icon{
  display: flex;
  width: 180px;
  height: 40px;
  background-color: #ffffff;
  justify-content: center;
}

/*　投稿画像　*/
img.post-img{
  width: 230px;
  height: 195px;
  margin: auto;
}

/*　プロフィール画像　*/
img.post-profile-img{
  display: block;
  width: 50px;
  height: 50px;
  border-radius:40%;
  margin: 0 50px 0 0;
}

/*　ページネーション　*/
.pagination {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* 「投稿する」ボタン　*/
section {
  max-width: 300px;
  margin: 0 auto;
}
a.btn_05 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #e8a48b;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 2.0;
  text-decoration: none;
  transition-duration: 0.3s;
  position: relative;
}
a.btn_05:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
a.btn_05:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 30px;
  border-color: transparent transparent #efefef transparent;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  transform: rotate(16deg);
}
a.btn_05:hover {
  background-color: #e6de6b;
}
a.btn_05 span {
  position: relative;
  padding-left: 16px;
  letter-spacing: 0.05em;
}
a.btn_05 span:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
}
