*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  overflow: scroll;
}

.row{
    text-align: center;
}

.post-title{
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px;
}

.post-title h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0054a7;
}

.post-title h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #f7bba2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
