*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  overflow: scroll;
}


.post-title{
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px;
}

.post-title h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0054a7;
}

.post-title h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #f7bba2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

textarea{
  border:1px solid #0054a7;
  background-color: #ffffff;
  width:150%;
  height:130px;
}
 input#post_title.form-control{
  border:1px solid #0054a7;
  width: 200px;
  height: 30px;
}

input#post-image{
  border:3px solid #0054a7;
  width: 300px;
  height: 50px;
}

input.btn.btn-primary{
  border:2px solid #0054a7;
  width: 100px;
  height: 30px;
  background-color: #f7bba2;
}

