*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  overflow: scroll;
}

div{
  text-align: center;
}


.user-title{
  padding-top: auto;
}

.user-title h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #0054a7;
  overflow: scroll;
}

.user-title h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #f7bba2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.user-item dt{
  font-weight: bold;
}
/*.user-item{
  display: flex;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: scroll;
  justify-content: center;
}

.user-item div{
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.user-item div:first-child{
  margin-left: 0;
}

.user-item dl{
  margin-top: 20px;
}



.user-item dd{
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

*/

textarea{
  border:1px solid #0054a7;
  background-color: #ffffff;
  width:150%;
  height:130px;
}
 input#inputName{
  border:1px solid #0054a7;
  width: 200px;
  height: 30px;
}

 input#user_email{
  border:1px solid #0054a7;
  width: 200px;
  height: 30px;
}

input#file-upload-button{
  border:3px solid #0054a7;
  width: 300px;
  height: 50px;
}

input.btn.btn-primary{
  border:2px solid #0054a7;
  width: 100px;
  height: 40px;
  padding-right: 15px;
  padding-left: 10px;
  background-color: #f7bba2;
}

.user-profile{
  width: 260px;
  height: 260px;
  border-radius:40%;
  margin: 0 auto;
  border:1px solid #0054a7;
}